root {
  --primary-color: #6B4226; /* Cor marrom usada nos textos e botões */
  --secondary-color: #F5C518; /* Cor amarela de destaque */
  --third-color: #F4A261
  --background-color: #FDF4E3; /* Fundo principal */
  --text-color: #333; /* Cor padrão para textos */
  --light-text: #555; /* Cor para textos secundários */
  --dark-overlay: rgba(0, 0, 0, 0.3); /* Fundo de overlay */
  --transition-time: 0.3s; /* Padrão para transições */
  background-color: #FDF4E3;
}